@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* CSS Variables */
:root {
  /* Colours */
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --grey-500: #4c4e61;
  --grey-400: #697077;
  --white: #ffffff;

  /* Font */
  --font-primary: "Poppins", sans-serif;
  --font-size-base: 15px;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;

  /* Card */
  --card-width: 23rem;
  --card-min-height: 15rem;
  --card-padding: 2rem;
  --card-border-radius: 0.5rem;
}

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  font-family: var(--font-primary);
  color: var(--grey-500);
  background-color: var(--white);
}

/* Headers */
h1 {
  font-weight: 200;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

/* CTA Section */

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xl) var(--spacing-lg);
  max-width: 540px;
  margin: 0 auto;
}

.cta p {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  margin-top: var(--spacing-md);
}

/* Content Section */

.content {
  padding: 0 var(--spacing-lg);
}

/* Cards */

.card {
  display: flex;
  flex-direction: column;
  max-width: var(--card-width);
  width: 100%;
  min-height: var(--card-min-height);
  padding: var(--card-padding);
  margin: 0 auto var(--spacing-lg);
  border-radius: var(--card-border-radius);
  box-shadow:
    0 1px 1px hsl(212 86% 6% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card p {
  font-weight: 200;
  font-size: 1rem;
  margin-bottom: var(--spacing-xl);
}

/* Card Variants */

.supervisor {
  border-top: var(--cyan) 4px solid;
}
.team-builder {
  border-top: var(--red) 4px solid;
}
.karma {
  border-top: var(--orange) 4px solid;
}
.calculator {
  border-top: var(--blue) 4px solid;
}

/* Card Icon */

.icon {
  margin-top: auto;
  align-self: flex-end;
  max-width: 4rem;
}

/* Media Queries - Desktop */

@media screen and (min-width: 768px) {
  /*Typography */

  h1,
  h2 {
    font-size: 2rem;
  }

  /* CTA Section */

  .cta {
    margin-top: 3rem;
  }
  .cta p {
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  /* Content Section */

  .content {
    display: grid;
    grid-template-columns: repeat(3, var(--card-width));
    grid-template-rows: repeat(4, 1fr);
    gap: var(--spacing-lg);
    max-width: 1200px;
    width: fit-content;
    margin: 0 auto;
    justify-items: center;
  }

  .card {
    min-width: var(--card-width);
    margin: 0;
  }

  /* Card Varients */
  .supervisor {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .team-builder {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  .karma {
    grid-row: 3 / 5;
    grid-column: 2 /3;
  }

  .calculator {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }
}
