@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;

  --grey-500: #4c4e61;
  --grey-400: #697077;
  --white: #ffffff;
}

html {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: var(--grey-500);
  background-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2rem;
  max-width: 540px;
  margin: 0 auto;
}

h1 {
  font-weight: 200;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

.content {
  padding: 0 2rem;
}

.cta p {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 23rem;
  width: 100%;
  min-height: 15rem;
  padding: 1.5rem;
  margin: 0 auto 2rem;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 1px hsl(212 86% 6% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

h3 {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}
.card p {
  font-weight: 200;
  font-size: 1rem;
}

.supervisor {
  border-top: var(--cyan) 4px solid;
}
.team-builder {
  border-top: var(--red) 4px solid;
}
.karma {
  border-top: var(--orange) 4px solid;
}
.calculator {
  border-top: var(--blue) 4px solid;
}

.icon {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  max-width: 4rem;
}

@media screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 2rem;
  }

  .cta p {
    font-size: 1rem;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
  }

  .card {
    min-width: 23rem;
  }

  .supervisor {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .team-builder {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  .karma {
    grid-row: 3 / 5;
    grid-column: 2 /3;
  }

  .calculator {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }
}
